# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Build output
dist/
coverage/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# Editor settings
.vscode/
.idea/
.DS_Store
*.sw?

# Tests & logs
*.log
*.test.ts
*.spec.ts
jest.config.js
coverage/

# Mac / OS generated
.DS_Store
